* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #020e26;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  border-bottom: 3px solid #020e26;
}

#app {
  background-color: white;
  padding: 18px;
  border-radius: 8px;
}

input {
  padding: 5px;
  margin: auto 10px 10px auto;
  font-size: 20px;
}

.btn {
  background-color: #020e26;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  padding: 7px;
  transition: .3s;
}

.btn:hover {
  cursor: pointer;
  background-color: #051f52;
  transform: scale(1.1);
}

ul li {
  list-style: none;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 3px solid #020e26;
  border-left: 3px solid #020e26;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

ul li a {
  color: red;
  text-decoration: none;
  font-weight: 500;
}

ul li a:active {
  color: red;
}